.inputWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .label {
    margin-bottom: 5px;
  }

  .amountInput {
    border: 1px solid lightgrey;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
  }

  .disabledInput {
    opacity: 0.5;
  }
}




